# Dataset contents but keep folder structure
dataSet/*

# Preprocessed data files 
src/preprocessing/preprocessed_data_*.csv
src/preprocessing/preprocessed_data_*.pkl

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# IDEs
.vscode/
.idea/
*.swp
*.swo
*~
